.title {
    padding-top: 50px;
    font-size: 35px;
}
.button {
     margin-left: 25%;
     border: 1px solid #aca9a9;
     width: 50%;
     line-height: 53px;
     margin-top: 26px;
 }
.titleB{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
}
